body {
    font-family: sans-serif;
}

a {
    background-color: gold;
    margin: 0 auto;
    padding: 0 0;
}

div.exe1 {
    width: 110px;
    height: 110px;
    overflow: hidden;
}

div.exe2 {
    width: 110px;
    height: 110px;
    overflow: visible;
}

div.exe3 {
    width: 110px;
    height: 110px;
    overflow: hidden;
}

div.exe4 {
    width: 110px;
    height: 110px;
}

#btn {
    background: #fff
}

#btn a {
    padding: 5px 10px;
    display: inline-block;
    line-height: 5px;
    text-align: center;
}