body {
    font-family: sans-serif;
}

a {
    background-color: gold;
    margin: 0 auto;
    padding: 0 0;
}

div.exe1 {
    width: 110px;
    height: 110px;
    overflow: hidden;
}

div.exe2 {
    width: 110px;
    height: 110px;
    overflow: visible;
}

div.exe3 {
    width: 110px;
    height: 110px;
    overflow: hidden;
}